{% load static %}

<!-- section intro -->
<section data-anime="left" id="profile" class="C-intro center_flex_column center_margin">
    <h1 class="C-intro__title">{{ home_content.section_intro.title }}</h1>
    <p class="C-intro__description">{{ home_content.section_intro.description }}</p>
    <div class="C-intro__card">
        <h2 class="C-intro__card_title">
            {{ home_content.section_intro.subtitle_one }}
        </h2>
        <p class="C-intro__card_description">
            {{ home_content.section_intro.sub_description_one }}
        </p>
    </div>
    <div class="C-intro__card">
        <h2 class="C-intro__card_title">
            {{ home_content.section_intro.subtitle_two }}
        </h2>
        <p class="C-intro__card_description">
            {{ home_content.section_intro.sub_description_two }}
        </p>
    </div>
    <div class="C-intro__card">
        <h2 class="C-intro__card_title">
            {{ home_content.section_intro.subtitle_three }}
        </h2>
        <p class="C-intro__card_description">
            {{ home_content.section_intro.sub_description_three }}
        </p>
    </div>
</section>

<!-- personal profile -->
<section class="C-profile center_flex_column">
    <div data-anime="left" class="C-profile_description">
        <h2>{{ home_content.profile.title }}</h2>
        <p>{{ home_content.profile.description }}</p>
    </div>
    <div data-anime="down" class="C-profile_image center_flex_row">
        {% if home_content.profile.image %}
            <img src="{{ home_content.profile.image.url }}" alt="profile image">
        {% else %}
            <img src="{% static 'global/images/profile.jpeg' %}" alt="profile image">
        {% endif %}
            <span class="C-profile_span"></span>
    </div>
</section>

<!-- pre gallery -->
<section class="C-pre_gallery center_flex_column">
    <div class="C-pre_gallery_box center_flex_row">
        <div data-anime="left" class="C-pre_gallery_images">
            <ul class="C-pre_gallery_ul">
                <li class="C-pre_gallery_li">
                    <input type="radio" name="pre_gallery_img" id="img1" checked>
                    <label for="img1"></label>
                    <img src="{{ home_content.pre_gallery.image_one.url }}" alt="">
                </li>
                <li class="C-pre_gallery_li">
                    <input type="radio" name="pre_gallery_img" id="img2">
                    <label for="img2"></label>
                    <img src="{{ home_content.pre_gallery.image_two.url }}" alt="">
                </li>
                <li class="C-pre_gallery_li">
                    <input type="radio" name="pre_gallery_img" id="img3">
                    <label for="img3"></label>
                    <img src="{{ home_content.pre_gallery.image_three.url }}" alt="">
                </li>
            </ul>
        </div>
        <div data-anime="right" class="C-pre_gallery_description">
            <h2>{{ home_content.pre_gallery.title }}</h2>
            <p>{{ home_content.pre_gallery.description }}</p>
        </div>
    </div>
    <!-- services -->
    <section data-anime="down" id="services" class="C-services center_flex_column">
        <h2>Atendimento exclusivo e personalizado</h2>
        <div class="C-services__flex center_flex_row">
            {% for service in services %}
                <div class="C-services__service">
                    <h2>{{ service.title }}</h2>
                    <p>{{ service.description }}</p>
                </div>
            {% empty %}
                <h2>services not found</h2>
            {% endfor %}
        </div>
    </section>
</section>

<!-- contact and localization -->
<section id="contact" class="C-contact center_flex_row">
    <div class="C-contact__contact center_flex_column" data-anime="left">
        <h2>entre em contato</h2>
        <div class="C-contact__link center_flex_row">
            <a target="_blank" href="{{ home_content.social_network.facebook_link }}" class="center_flex_row">
                <img src="{% static 'global/images/facebook.png' %}" alt="logo facebook">
                {{ home_content.social_network.facebook_text }}
            </a>
        </div>
        <div class="C-contact__link center_flex_row">
            <a target="_blank" href="{{ home_content.social_network.instagram_link }}" class="center_flex_row">
                <img src="{% static 'global/images/instagram.png' %}" alt="logo instagram">
                <p>{{ home_content.social_network.instagram_text }}</p>
            </a>
        </div>
        <div class="C-contact__link center_flex_row">
            <a target="_blank" href="{{ home_content.social_network.whatsapp_link }}" class="center_flex_row">
                <img src="{% static 'global/images/whatsapp.png' %}" alt="logo whatsapp">
                <p>{{ home_content.social_network.whatsapp_phone }}</p>
            </a>
        </div>
        <p class="C-contact__number">Fone: {{ home_content.social_network.whatsapp_phone }}</p>
    </div>
    <div class="C-contact__localization" data-anime="right">
        <iframe data-anime="right" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3583.522754172879!2d-53.05904328504772!3d-26.081849083492397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f072d9fc39f61b%3A0x8fec623d0f0908ca!2sR.%20Rio%20G.%20do%20Sul%2C%201086%20-%20Alvorada%2C%20Francisco%20Beltr%C3%A3o%20-%20PR%2C%2085601-050!5e0!3m2!1spt-BR!2sbr!4v1677199562174!5m2!1spt-BR!2sbr" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>