<div class="C-pre_gallery_box center_flex_row">

    <div class="C-pre_gallery_wrapper" data-anime="left">
        <!-- arrow left -->
        <span id="arrow_left" class="material-symbols-outlined C-pre_gallery_span fa-solid">chevron_left</span>
        <!-- carousel -->
        <div class="C-pre_gallery_carousel">
            <img src="{{ home_content.pre_gallery.image_one.url }}" draggable="false" alt="">
            <img src="{{ home_content.pre_gallery.image_two.url }}" draggable="false" alt="">
            <img src="{{ home_content.pre_gallery.image_three.url }}" draggable="false" alt="">
        </div>
        <!-- arrow right -->
        <span id="arrow_right" class="material-symbols-outlined C-pre_gallery_span fa-solid">chevron_right</span>
    </div>

    <!-- gallery description -->
    <div data-anime="right" class="C-pre_gallery_description">
        <h2>{{ home_content.pre_gallery.title }}</h2>
        <p>{{ home_content.pre_gallery.description }}</p>
    </div>
</div>
