{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'global/images/partial-logo.png' %}" type="image/x-icon">
    <title>Home | </title>
</head>
<body class="C-body">
    <!-- header -->
    <header class="C-header">
        <!-- contact -->
        <section class="C-header_contact center_flex_row">
            <a href=""><img src="{% static 'global/images/instagram.png' %}" alt="logo instagram"></a>
            <a href=""><img src="{% static 'global/images/facebook.png' %}" alt="logo facebook"></a>
            <div class="C-header_whatsapp center_flex_row standard_transition">
                <a href="" class="center_flex_row"><img src="{% static 'global/images/whatsapp.png' %}" alt="logo whatsapp"><p>(46) 9 9982-6472</p></a>
            </div>
        </section>

        <!-- logo and menu -->
        <section class="C-menu center_flex_row">
            <!-- logo -->
            <div class="C-menu__c_img">
                <img src="{% static 'global/images/partial-logo.png' %}" alt="" class="C-menu__img">
            </div>
            <!-- menu -->
            <div class="C-menu__menu">
                <nav class="C-menu__nav">
                    <ul class="C-menu__ul center_flex_row">
                        <li class="C-menu__li standard_transition"><a href="" class="C-menu__link">home</a></li>
                        <li class="C-menu__li standard_transition"><a href="" class="C-menu__link">about</a></li>
                        <li class="C-menu__li standard_transition"><a href="" class="C-menu__link">services</a></li>
                        <li class="C-menu__li standard_transition"><a href="" class="C-menu__link">gallery</a></li>
                        <li class="C-menu__li standard_transition"><a href="" class="C-menu__link">contact</a></li>
                    </ul>
                </nav>
            </div>
        </section>

        <!-- center logo -->
        <section class="C-logo center_flex_row center_margin">
            <img src="{% static 'global/images/logo.png' %}" alt="">
        </section>

        <!-- section intro -->
        <section class="C-intro center_flex_column">
            <h1 class="C-intro__title">Alimentando seu corpo e alma com exercícios físicos</h1>
            <p class="C-intro__description">A prática regular de atividade física trás ínumeros benefícios, dentre eles:</p>
            <div class="C-intro__card">
                <h2 class="C-intro__card_title">
                    prática regular
                </h2>
                <p class="C-intro__card_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus harum asperiores. Doloribus necessitatibus, ducimus, fugit earum sunt ea expedita unde ratione accusamus, mollitia asperiores sint minus saepe pariatur illo!
                </p>
            </div>
            <div class="C-intro__card">
                <h2 class="C-intro__card_title">
                    prática regular
                </h2>
                <p class="C-intro__card_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus harum asperiores. Doloribus necessitatibus, ducimus, fugit earum sunt ea expedita unde ratione accusamus, mollitia asperiores sint minus saepe pariatur illo!
                </p>
            </div>
            <div class="C-intro__card">
                <h2 class="C-intro__card_title">
                    prática regular
                </h2>
                <p class="C-intro__card_description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores possimus harum asperiores. Doloribus necessitatibus, ducimus, fugit earum sunt ea expedita unde ratione accusamus, mollitia asperiores sint minus saepe pariatur illo!
                </p>
            </div>
        </section>
    </header>

    <!-- main -->
    <main class="C-main"></main>

    <!-- footer -->
    <footer class="C-footer"></footer>
</body>
    <script src="{% static 'global/js/script.js' %}"></script>
</body>
</html>