{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'global/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'global/images/partial-logo.png' %}" type="image/x-icon">
    <title>Home | </title>
</head>
<body class="C-body">
    <!-- header -->
    <header class="C-header">
        <!-- contact -->
        <section class="C-header_contact center_flex_row">
            <a href=""><img src="{% static 'global/images/icons/instagram_p.png' %}" alt="logo instagram" class="center_flex_row"></a>
            <a href=""><img src="{% static 'global/images/icons/facebook_p.png' %}" alt="logo facebook" class="center_flex_row"></a>
            <a href=""><img src="{% static 'global/images/icons/whatsapp_p.png' %}" alt="logo whatsapp"class="center_flex_row"></a>
        </section>

        <!-- logo and menu -->
        <section class="C-menu center_flex_row">
            <!-- logo -->
            <div class="C-logo center_flex_row is_animated ">
                <img src="{% static 'global/images/partial-logo.png' %}" alt="">
            </div>
            <!-- menu -->
            <div class="C-menu__menu">
                <nav class="C-menu__nav">
                    <ul class="C-menu__ul center_flex_row">
                        <li class="C-menu__li"><a href="" class="C-menu__link standard_transition">home</a></li>
                        <li class="C-menu__li"><a href="" class="C-menu__link standard_transition">about</a></li>
                        <li class="C-menu__li"><a href="" class="C-menu__link standard_transition">services</a></li>
                        <li class="C-menu__li"><a href="" class="C-menu__link standard_transition">gallery</a></li>
                        <li class="C-menu__li"><a href="" class="C-menu__link standard_transition">contact</a></li>
                    </ul>
                </nav>
            </div>
        </section>

        <!-- title -->
        <section class="C-title center_flex_column">
            <p class="C-title__text is_animated">
                treine com o personal <span class="C-title__span">maicon</span>
            </p>
            <a href="" class="C-title__link">agende sua avaliação</a>
        </section>
    </header>

    <!-- main -->
    <main class="C-main">
        <!-- section intro -->
        <section class="C-intro center_flex_column center_margin">
            <h1 class="C-intro__title">Benefícios do nosso treino</h1>
            <p class="C-intro__description">A prática regular de atividade física, com o acompanhamento de um profissional especializado, trás ínumeros benefícios, dentre eles:</p>
            <div class="C-intro__card">
                <h2 class="C-intro__card_title">
                    Saúde e bem-estar
                </h2>
                <p class="C-intro__card_description">
                    A atividade física regular auxilia na prevenção do desenvolvimento de patologias, fortalecimento dos sistemas imunológico e musculoesquelético.
                </p>
            </div>
            <div class="C-intro__card">
                <h2 class="C-intro__card_title">
                    Produtividade e autoestima
                </h2>
                <p class="C-intro__card_description">
                    Pessoas que realizam exercícios físicos tendem a ser mais produtivas em sua rotina diária. A serotonina é conhecida como hormônio da felicidade, tendo sua produção aumentada durante o exercício físico.
                </p>
            </div>
            <div class="C-intro__card">
                <h2 class="C-intro__card_title">
                    Personal Trainer
                </h2>
                <p class="C-intro__card_description">
                    O Personal Trainer é o profissional educador físico responsável pelo atendimento individualizado ao cliente, atuando na promoção e recuperação da saúde.
                </p>
            </div>
        </section>

        <!-- personal profile -->
        <section class="C-profile center_flex_row">
            <div class="C-profile_description">
                <h2>Conheça um pouco o professor Maicon</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum dolor corrupti qui ducimus quaerat mollitia facere non quam doloremque ad deleniti, in provident itaque adipisci assumenda sapiente veritatis et laborum.
                Eius delectus harum culpa soluta, rem distinctio iusto voluptatem.</p>
            </div>
            <div class="C-profile_image center_flex_row">
                <img src="{% static 'global/images/profile.jpeg' %}" alt="profile image">
                <span class="C-profile_span"></span>
            </div>
        </section>

        <!-- pre gallery -->
        <section class="C-pre_gallery center_flex_column">
            <div class="center_flex_row">
                <div class="C-pre_gallery_images">
                    <ul class="C-pre_gallery_ul">
                        <li class="C-pre_gallery_li">
                            <input type="radio" name="pre_gallery_img" id="img1" checked>
                            <label for="img1"></label>
                            <img src="{% static 'global/images/main-gallery/img1.jpeg' %}" alt="">
                        </li>
                        <li class="C-pre_gallery_li">
                            <input type="radio" name="pre_gallery_img" id="img2">
                            <label for="img2"></label>
                            <img src="{% static 'global/images/main-gallery/img2.jpeg' %}" alt="">
                        </li>
                        <li class="C-pre_gallery_li">
                            <input type="radio" name="pre_gallery_img" id="img3">
                            <label for="img3"></label>
                            <img src="{% static 'global/images/main-gallery/img3.jpeg' %}" alt="">
                        </li>
                    </ul>
                </div>
                <div class="C-pre_gallery_description">
                    <h2>Espaço ideal para seu treino</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, dolore vel? Illo animi saepe optio distinctio natus quod cumque maiores libero ipsa laborum odit recusandae, iure harum deleniti ipsum aut?
                    Odio facilis eius repudiandae facere, inventore nam, necessitatibus amet quia consequatur consectetur labore! Nostrum placeat officiis ratione ipsa neque sint illo magni, ad, harum fuga totam deserunt et! Accusamus, maiores?</p>
                </div>
            </div>
            <!-- services -->
            <section class="C-services center_flex_column">
                <h2>Atendimento exclusivo e personalizado</h2>
                <div class="C-services__flex center_flex_row">
                    <div class="C-services__service">
                        <h2>treino indiviual</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptatum?</p>
                    </div>
                    <div class="C-services__service">
                        <h2>treino em equipe</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptatum?</p>
                    </div>
                    <div class="C-services__service">
                        <h2>equipamentos de ponta</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptatum?</p>
                    </div>
                    <div class="C-services__service">
                        <h2>ambiente climatizado</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptatum?</p>
                    </div>
                    <div class="C-services__service">
                        <h2>horários flexíveis</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptatum?</p>
                    </div>
                    <div class="C-services__service">
                        <h2>localização central</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptatum?</p>
                    </div>  
                </div>
            </section>
        </section>

        <!-- contact and localization -->
        <section class="C-contact center_flex_row">
            <div class="C-contact__contact center_flex_column">
                <h2>entre em contato</h2>
                <a href="" class="C-contact__link center_flex_row"><img src="{% static 'global/images/facebook.png' %}" alt="logo facebook"><p>@maicon_jose</p></a>
                <a href="" class="C-contact__link center_flex_row"><img src="{% static 'global/images/instagram.png' %}" alt="logo instagram"><p>@maicon_jose</p></a>
                <a href="" class="C-contact__link center_flex_row"><img src="{% static 'global/images/whatsapp.png' %}" alt="logo whatsapp"><p>(46) 9 9982-6472</p></a>
                <p>Fone: (46) 9 9982-6472</p>
            </div>
            <div class="C-contact__localization">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3583.522754172879!2d-53.05904328504772!3d-26.081849083492397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f072d9fc39f61b%3A0x8fec623d0f0908ca!2sR.%20Rio%20G.%20do%20Sul%2C%201086%20-%20Alvorada%2C%20Francisco%20Beltr%C3%A3o%20-%20PR%2C%2085601-050!5e0!3m2!1spt-BR!2sbr!4v1677199562174!5m2!1spt-BR!2sbr" width="400" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </section>
    </main>

    <!-- footer -->
    <footer class="C-footer center_flex_row">
        <div class="C-footer__details">
            <p class="C-footer__title">Academia Personal Maicon</p>
            <p class="C-footer__adress">Rua Rio Grande do Sul, 1086</p>
            <p class="C-footer__adress">Centro - Francisco Beltrão, Paraná</p>
            <p class="C-footer__adress">CEP: 85.601-231</p>
            <p class="C-footer__copy"> &copy; 2023 - Todos os direitos reservados</p>
        </div>
        <div class="C-footer__logo">
            <img src="{% static 'global/images/logo.png' %}" alt="">
        </div>
    </footer>
</body>
    <script src="{% static 'global/js/script.js' %}"></script>
</body>
</html>