{% extends 'global/pages/base.html' %}

{% block head_title %} Gallery | {% endblock %}

{% block content %}
    <section class="C-gallery center_margin center_flex_row">
            {% for image in gallery %}
                <div class="C-gallery__c_image">
                    <img class="C-gallery__image" src="{{ image.image.url }}" alt="">
                    <h2>{{ image.title }}</h2>
                    <p>{{ image.description }}</p>
                    <div class="C-gallery__c_image_back">
                        <img class="C-gallery__image glass_image" src="{{ image.image.url }}" alt="">
                    </div>
                </div>
            {% empty %}
                <div class="C-gallery__c_image">
                    <h2>no images found</h2>
                </div>
            {% endfor %}
    </section>
{% endblock %}

