{% extends 'global/pages/base.html' %}
{% load static %}

{% block head_title %} Gallery | {% endblock %}

{% block content %}
    <div class="C-modal center_flex_row">
        <div class="C-modal__c_image center_flex_row">
            <img src="{% static "global/images/profile.jpeg" %}" alt="" class="C-modal__image">
        </div>
        <span class="material-symbols-outlined C-modal__button">close</span>
    </div>
    <section class="C-gallery center_margin center_flex_row">
            {% for image in gallery %}
                <div class="C-gallery__c_image">
                    <img class="C-gallery__image" src="{{ image.image.url }}" alt="">
                    <h2>{{ image.title }}</h2>
                    <p>{{ image.description }}</p>
                </div>
            {% empty %}
                <div class="C-gallery__c_image">
                    <h2>no images found</h2>
                </div>
            {% endfor %}
    </section>
    {% include 'global/partials/pagination.html' %}
{% endblock %}
