* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-green: #59C9D0;
  --light-blue: #067CB8;
  --intermediate-blue: #0B7DB2;
  --intermediate-blue-2: #26557A;
  --heavy-blue: #283958;
  --light-white: #FBFBFB;
  --standard-white: #ffffff;
  --standard-black: #000000;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}

/* START BODY*/
.c-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  padding: 0 2%;
  background-color: var(--light-white);
}
/* ###### END BODY ###### */

/* START HEADER*/
.c-header {
  grid-area: header;
}

.c-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-header__logo-container {
  width: 100%;
  max-width: 200px;
  align-self: flex-start;
}

.c-header__logo {
  max-width: 100%;
}

.c-header__nav::before {
  content: "X";
}

.c-header__nav ul {
  list-style-type: none;
  display: none;
  column-gap: 35px;
}

.c-header__nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: var(--heavy-blue);
  transition: all 300ms ease;
}

.c-header__nav ul li a:hover {
  color: var(--intermediate-blue);
}

.c-header__nav ul li a::after {
  position: absolute;
  content: '';
  position: relative;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  display: block;
  background-color: var(--heavy-blue);
  border-radius: 50%;
  transition: all 300ms ease;
}

.c-header__nav ul li a:hover::after {
  width: 100%;
  left: 0;
}
/* ###### END HEADER ##### */


/* START MAIN */
.c-main {
  grid-area: main;
}

/* ###### END MAIN ###### */


/* START FOOTER */
.c-footer {
  grid-area: footer;
}
/* ###### END FOOTER ###### */

@media screen and (min-width: 768px) {

}