* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-0: #C5FFFD;
  --blue-1: #B3CBD7;
  --blue-2: #59C9D0;
  --blue-3: #067CB8;
  --blue-4: #0B7DB2;
  --blue-4: #26557A;
  --blue-5: #283958;
  --blue-5-transparent: #2839589c;
  --blue-facebook: #1976D2;
  --orange-1: #ED541C;
  --orange-1-instagram: #FA851D;
  --orange-2-instagram: #F55031;
  --orange-3-instagram: #B43179;
  --orange-4-instagram: #B52F8C;
  --light-white: #FBFBFB;
  --standard-white: #ffffff;
  --standard-black: #000000;
  --black-transparent-bg: rgba(0, 0, 0, 0.7);
  --gray-1: rgb(65, 63, 63);
  --green-1-whatsapp: #30BF2E;
  --green-2-whatsapp: #5EFA79;
  --standard-gray: #1f1d1d;
  --std-white-transparent: rgba(255, 255, 255, 0.288);
  --std-white-transparent-2: rgba(255, 255, 255, 0.548);
  --font-montserrat: 'Montserrat', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
}

html, body {
  font-family: var(--font-montserrat);
  height: 100%;
}

/* GENERICS */

.is_closed {
  display: none;
}

.is_open {
  display: block;
}

.center_flex_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center_margin {
  margin: 0 auto;
}

.standard_transition {
  transition: all 300ms ease;
}

.is_animated {
  animation-name: to-show-logo;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
/* ###### END GENERICS ######*/

/* START BODY */
.C-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-color: var(--black-transparent-bg);
  background-image: url('../images/bg-body-img_m.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* ###### END BODY ###### */

/* START HEADER */
.C-header {
  padding-bottom: 20px;
  min-height: 100vh;
  background-color: var(--black-transparent-bg);
}
.C-header_contact {
  grid-area: header;
  background-color: var(--std-white-transparent-2);
  opacity: 0.8;
  padding: 10px 0;
  text-align: center;
  column-gap: 15px;
}

.C-header_contact > a > img {
  max-width: 32px;
}

.C-menu {
  justify-content: space-between;
  padding: 45px 10px;
}

.C-menu__ul {
  column-gap: 45px;
}

.C-menu__li {
  list-style: none;
  border: none;
  outline: none;
}

.C-menu__li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 8px;
  color: var(--standard-white);
  border: 1px solid var(--standard-white);
}

.C-menu__li a:hover {
  color: var(--standard-black);
  background-color: var(--standard-white);
}

.C-logo {
  width: 100%;
  max-width: 64px;
}

.C-logo img {
  filter: opacity(200%) contrast(110%) brightness(250%) drop-shadow(16px 16px 25px black);
  width: 100%;
}

.C-title {
  max-width: 450px;
  color: var(--standard-white);
  padding: 0 10px;
  text-transform: uppercase;
  font-family: var(--font-oswald);
  font-size: 68px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 3px;
}

.C-title__span {
  color: var(--blue-3);
  filter: drop-shadow(-5px 10px 25px black);
}

.C-title__link {
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  padding: 25px 35px;
  border-radius: 50px;
  color: var(--standard-white);
  background-color: var(--orange-1);
  align-self: flex-start;
}
/* END HEADER */

/* START MAIN */
.C-main {
  grid-area: main;
  background-color: var(--black-transparent-bg);
  height: auto;
}

.C-intro {
  max-width: 840px;
  padding: 2%;
  margin-bottom: 30px;
  overflow: hidden;
  background: rgba(105, 102, 102, 0.295);
  backdrop-filter: contrast(1) blur(15px);
}

.C-intro__title, .C-intro__description {
  color: rgb(0, 0, 0);
  align-self: flex-start;
}

.C-intro__title {
  font-size: 38px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 5px;
  line-height: 45pt;
  color: var(--blue-2);
  max-width: 650px;
  padding-bottom: 10px;
}

.C-intro__description {
  color: var(--standard-white);
  font-size: 20px;
  font-weight: 300;
  line-height: 28pt;
  max-width: 550px;
}

.C-intro__card {
  max-width: 640px;
  background-color: var(--blue-4);
  margin: 10px 0;
  padding: 20px;
  /* animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards; */
}

.C-intro .C-intro__card:nth-of-type(1), .C-intro .C-intro__card:nth-of-type(3) {
  align-self: flex-start;
  /* margin-left: -100%;
  animation-name: to-show-intro-l; */
}

.C-intro .C-intro__card:nth-of-type(2) {
  align-self: flex-end;
  /* margin-right: -100%;
  animation-name: to-show-intro-r; */
}

.C-intro__card_title, .C-intro__card_description {
  color: var(--standard-white);
}

.C-intro__card_title {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
}

.C-intro__card_description {
  letter-spacing: 1.5px;
  font-size: 16px;
  line-height: 24pt;
  font-weight: 200;
}

.C-profile {
  background-color: var(--gray-1);
  column-gap: 60px;
  position: relative;
  margin-top: 60px;
}

.C-profile_description {
  max-width: 400px;
  line-height: 27pt;
  color: var(--standard-white);
  padding: 30px 0;
}

.C-profile_description h2 {
  color: var(--blue-2);
  text-transform: capitalize;
  font-weight: 400;
  font-size: 38px;
  line-height: 40pt;
}

.C-profile_description p {
  font-size: 18px;
  line-height: 27pt;
  padding: 0 30px 0 0;
  color: var(--standard-white);
  border-right: 3px solid var(--blue-2);
}

.C-profile_image {
  width: 100%;
  max-width: 280px;
  height: 100%;
  position: relative;
  top: -60px;
}

.C-profile_image img {
  width: 100%;
  position: relative;
  z-index: 10;
}

.C-profile_span {
  background-color: var(--blue-2);
  width: inherit;
  height: inherit;
  position: absolute;
  right: -8px;
  bottom: -8px;
  z-index: 1;
}

.C-pre_gallery {
  background-color: var(--standard-white);
  background-image: url('../images/bg-parallax-pre-gallery.jpg');
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 30px 2%;
}

.C-pre_gallery_images {
  max-width: 400px;
  position: relative;
}

.C-pre_gallery_ul {
  list-style-type: none;
}

.C-pre_gallery_li > input {
  display: none;
}

.C-pre_gallery_li > label {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--standard-white);
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  z-index: 10;
}

.C-pre_gallery_li:nth-of-type(1) > label {
  left: 45%;
}

.C-pre_gallery_li:nth-of-type(2) > label {
  left: 50%;
}

.C-pre_gallery_li:nth-of-type(3) > label {
  left: 55%;
}

.C-pre_gallery_li input:checked ~ label {
  background-color: var(--standard-black);
}

.C-pre_gallery_li img {
  width: 100%;
  transition: all 300ms ease;
  box-shadow: 0 8px 25px var(--std-white-transparent);
  display: none;
}

.C-pre_gallery_li input:checked ~ img {
  display: block;
  animation-name: to-role;
  animation-duration: 600ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.C-pre_gallery_description {
  padding: 10px 2%;
  max-width: 600px;
}

.C-pre_gallery_description h2 {
  color: var(--standard-white);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 40px;
  line-height: 55pt;
  letter-spacing: 12px;
}

.C-pre_gallery_description p {
  font-size: 18px;
  line-height: 27pt;
  color: var(--light-white);
}

.C-services {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 30px;
  border: none;
  outline: none;
  background: rgba(105, 102, 102, 0.295);
  backdrop-filter: contrast(1) blur(25px);
}

.C-services h2 {
  margin: 30px 0;
  text-transform: uppercase;
  color: var(--blue-2);
  font-size: 32px;
}

.C-services__flex {
  max-width: 840px;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
}

.C-services__service {
  max-width: 250px;
  height: auto;
  text-align: center;
  border: 2px solid var(--std-white-transparent-2);
  padding: 20px;
  border-radius: 15px;
}

.C-services__service h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--standard-white);
}

.C-services__service p {
  color: var(--std-white-transparent-2);
}

.C-contact {
  background-color: var(--gray-1);
  padding: 30px 0;
  justify-content: center;
  column-gap: 60px;
  row-gap: 30px;
  flex-wrap: wrap;
}

.C-contact__contact {
  backdrop-filter: contrast(1.5) blur(15px);
  row-gap: 15px;
  width: 100%;
  max-width: 400px;
  padding: 30px;
}

.C-contact__contact > h2 {
  color: var(--blue-0);
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 15px 15px 15px;
  width: 100%;
}

.C-contact__link {
  column-gap: 15px;
  padding: 8px 15px;
  width: 100%;
  color: var(--standard-white);
  text-decoration: none;
  border-radius: 25px;
}

.C-contact__link:nth-of-type(1) img {
  border: 1px solid var(--standard-white);
  border-radius: 3px;
}

.C-contact__contact .C-contact__link:nth-of-type(1) {
  background-color: var(--blue-facebook);
}

.C-contact__contact .C-contact__link:nth-of-type(2) {
  background-image: linear-gradient(35deg, var(--orange-1-instagram), var(--orange-1-instagram), var(--orange-3-instagram), var(--orange-4-instagram));
}

.C-contact__contact .C-contact__link:nth-of-type(3) {
  background-image: linear-gradient(90deg, var(--green-1-whatsapp), var(--green-2-whatsapp));
}

.C-contact__contact > p {
  color: var(--standard-white);
}

.C-contact__localization {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: auto;
}

.C-contact__localization iframe {
  max-width: 100%;
  max-height: 378px;
}
/* END MAIN */

/* START FOOTER */
.C-footer {
  grid-area: footer;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 15px;
  padding: 15px 2%;
  background-color: var(--standard-black);
}

.C-footer__title {
  font-size: 18px;
  font-weight: 600;
  color: var(--blue-2);
  line-height: 1.5;
}

.C-footer__adress, .C-footer__copy {
  color: white;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
}

.C-footer__copy {
  padding-top: 15px;
  font-size: 14px;
}

.C-footer__logo {
  width: 100%;
  max-width: 180px;
}

.C-footer__logo img {
  width: 100%;
}
/* END FOOTER */

/* START ANIMATION */
[data-anime] {
  opacity: 0;
  transition: 1s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime="down"] {
  transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@keyframes to-show-logo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes to-show-intro-l {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0;
  }
}

@keyframes to-show-intro-r {
  from {
    margin-right: -100%;
  }

  to {
    margin-right: 0;
  }
}

@keyframes to-role {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
/* END ANIMATION */