* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-0: #C5FFFD;
  --blue-1: #B3CBD7;
  --blue-2: #59C9D0;
  --blue-3: #067CB8;
  --blue-4: #0B7DB2;
  --blue-4: #26557A;
  --blue-5: #283958;
  --blue-5-transparent: #2839589c;
  --blue-facebook: #1976D2;
  --orange-1: #ED541C;
  --orange-1-instagram: #FA851D;
  --orange-2-instagram: #F55031;
  --orange-3-instagram: #B43179;
  --orange-4-instagram: #B52F8C;
  --light-white: #FBFBFB;
  --standard-white: #ffffff;
  --standard-black: #000000;
  --black-transparent-bg: rgba(0, 0, 0, 0.7);
  --gray-1: rgb(65, 63, 63);
  --green-1-whatsapp: #30BF2E;
  --green-2-whatsapp: #5EFA79;
  --standard-gray: #1f1d1d;
  --std-white-transparent: rgba(255, 255, 255, 0.288);
  --std-white-transparent-2: rgba(255, 255, 255, 0.548);
  --font-montserrat: 'Montserrat', sans-serif;
  --font-oswald: 'Oswald', sans-serif;
}

html, body {
  font-family: var(--font-montserrat);
  height: 100%;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track {
  background-color: var(--standard-gray);        
}

body::-webkit-scrollbar-thumb {    
  background-color: var(--std-white-transparent);
  border-radius: 20px;       
}

/* GENERICS */

.is_closed {
  display: none;
}

.is_open {
  display: block;
}

.center_flex_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_flex_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center_margin {
  margin: 0 auto;
}

.standard_transition {
  transition: all 300ms ease;
}

.is_animated {
  animation-name: to-show-logo;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.is_visible {
  display: block;
}

.is_hidden {
  display: none;
}
/* ###### END GENERICS ######*/

/* START BODY */
.C-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-color: var(--black-transparent-bg);
  background-image: url('../images/bg-body-img_m.jpg');
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* ###### END BODY ###### */

/* START HEADER */
.C-header {
  padding-bottom: 20px;
  background-color: var(--black-transparent-bg);
}

.C-header_contact {
  grid-area: header;
  background-color: var(--std-white-transparent-2);
  opacity: 0.8;
  padding: 10px 0;
  text-align: center;
  column-gap: 15px;
}

.C-header_contact > a > img {
  max-width: 32px;
}

.C-menu {
  width: 100%;
  justify-content: space-between;
  padding: 45px 10px;
  position: relative;
}

.C-menu__menu {
  width: 100%;
}

.C-menu__button {
 cursor: pointer;
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 right: 10px;
 z-index: 1000000;
}

.C-menu__nav {
  position: absolute;
  padding-top: 30px;
  top: -52px;
  left: 0;
  width: 100%;
  background-color: var(--standard-gray);
  z-index: 100000;
  animation-name: open_menu;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.C-menu__ul {
  width: 100%;
  column-gap: 45px;
  row-gap: 25px;
}

.C-menu__li {
  list-style: none;
  border: none;
  outline: none;
  width: 100%;
  max-width: 650px;
  text-align: center;
}

.C-menu__li a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 8px;
  width: 100%;
  color: var(--standard-white);
}

.C-menu__li a:hover {
  color: var(--standard-black);
  background-color: var(--standard-white);
}

.C-logo {
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 64px;
}

.C-logo img {
  filter: opacity(200%) contrast(110%) brightness(250%) drop-shadow(16px 16px 25px black);
  width: 100%;
}

.C-title {
  width: 100%;
  color: var(--standard-white);
  padding: 0 10px;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: var(--font-oswald);
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 3px;
}

.C-title__text {
  max-width: 450px;
  align-self: flex-start;
}

.C-title__span {
  color: var(--blue-3);
  filter: drop-shadow(-5px 10px 25px black);
}

.C-title__link {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 25px 35px;
  border-radius: 50px;
  color: var(--standard-white);
  background-color: var(--orange-1);
  align-self: center;
  margin-top: 30px;
  width: 100%;
  max-width: 362px;
}
/* END HEADER */

/* START MAIN */
.C-main {
  grid-area: main;
  padding: 0 2%;
  background-color: var(--black-transparent-bg);
}

.C-intro {
  width: 100%;
  max-width: 840px;
  padding: 2%;
  margin-top: 100px;
  margin-bottom: 30px;
  background: rgba(105, 102, 102, 0.295);
  backdrop-filter: contrast(1) blur(15px);
}

.C-intro__title, .C-intro__description {
  color: rgb(0, 0, 0);
  align-self: flex-start;
}

.C-intro__title {
  font-size: 38px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 5px;
  line-height: 45pt;
  color: var(--blue-2);
  max-width: 650px;
  padding-bottom: 10px;
}

.C-intro__description {
  color: var(--standard-white);
  font-size: 20px;
  font-weight: 300;
  line-height: 28pt;
  max-width: 550px;
}

.C-intro__card {
  width: 100%;
  max-width: 640px;
  background-color: var(--blue-4);
  margin: 10px 0;
  padding: 20px;
  position: relative;
}

.C-intro .C-intro__card:nth-of-type(1), .C-intro .C-intro__card:nth-of-type(3) {
  align-self: flex-start;
}

.C-intro .C-intro__card:nth-of-type(2) {
  align-self: flex-end;
}

.C-intro__card_title, .C-intro__card_description {
  color: var(--standard-white);
}

.C-intro__card_title {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 0 10px;
  padding-bottom: 10px;
  text-align: center;
}

.C-intro__card_description {
  letter-spacing: 1.5px;
  font-size: 16px;
  line-height: 24pt;
  font-weight: 200;
  text-align: center;
}

.C-profile {
  background-color: var(--gray-1);
  column-gap: 60px;
  margin-top: 60px;
  padding: 0 2%;
}

.C-profile_description {
  max-width: 400px;
  line-height: 27pt;
  color: var(--standard-white);
  padding: 30px 0;
}

.C-profile_description h2 {
  color: var(--blue-2);
  text-transform: capitalize;
  font-weight: 400;
  font-size: 38px;
  line-height: 40pt;
}

.C-profile_description p {
  font-size: 18px;
  line-height: 27pt;
  padding: 0 30px 0 0;
  color: var(--standard-white);
  border-right: 3px solid var(--blue-2);
}

.C-profile_image {
  width: 100%;
  max-width: 280px;
  height: 100%;
  position: relative;
  margin-bottom: 30px;
}

.C-profile_image img {
  width: 100%;
  z-index: 10;
}

.C-profile_span {
  background-color: var(--blue-2);
  width: inherit;
  height: inherit;
  position: absolute;
  right: -8px;
  bottom: -8px;
  z-index: 1;
}

.C-pre_gallery {
  background-color: var(--standard-white);
  background-image: url('../images/bg-parallax-pre-gallery.jpg');
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 30px 2%;
  overflow: hidden;
}

.C-pre_gallery_box {
  flex-direction: column;
}

.C-pre_gallery_images {
  max-width: 400px;
  position: relative;
}

.C-pre_gallery_ul {
  list-style-type: none;
}

.C-pre_gallery_li > input {
  display: none;
}

.C-pre_gallery_li > label {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--standard-white);
  border: 1px solid var(--standard-gray);
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  z-index: 10;
}

.C-pre_gallery_li:nth-of-type(1) > label {
  left: 40%;
}

.C-pre_gallery_li:nth-of-type(2) > label {
  left: 50%;
}

.C-pre_gallery_li:nth-of-type(3) > label {
  left: 60%;
}

.C-pre_gallery_li input:checked ~ label {
  background-color: var(--blue-3);
  border: 1px solid var(--blue-3);
}

.C-pre_gallery_li img {
  width: 100%;
  transition: all 300ms ease;
  box-shadow: 0 8px 25px var(--std-white-transparent);
  display: none;
}

.C-pre_gallery_li input:checked ~ img {
  display: block;
  animation-name: to-role;
  animation-duration: 600ms;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.C-pre_gallery_description {
  padding: 10px 2%;
  max-width: 600px;
}

.C-pre_gallery_description h2 {
  color: var(--standard-white);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 40px;
  line-height: 55pt;
  letter-spacing: 12px;
  text-align: center;
}

.C-pre_gallery_description p {
  font-size: 18px;
  line-height: 27pt;
  color: var(--light-white);
  text-align: center;
}

.C-services {
  width: 100%;
  margin-top: 30px;
  padding-bottom: 30px;
  background: rgba(105, 102, 102, 0.295);
  backdrop-filter: contrast(1) blur(25px);
}

.C-services h2 {
  margin: 30px 0;
  text-transform: uppercase;
  color: var(--blue-2);
  font-size: 32px;
  text-align: center;
}

.C-services__flex {
  max-width: 840px;
  align-items: stretch;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 25px;
}

.C-services__service {
  max-width: 250px;
  height: auto;
  text-align: center;
  border: 2px solid var(--std-white-transparent-2);
  padding: 20px;
  border-radius: 15px;
}

.C-services__service h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--standard-white);
}

.C-services__service p {
  color: var(--std-white-transparent-2);
}

.C-contact {
  background-color: var(--gray-1);
  padding: 30px 2%;
  justify-content: center;
  column-gap: 60px;
  row-gap: 30px;
  flex-wrap: wrap;
  overflow: hidden;
}

.C-contact__contact {
  backdrop-filter: contrast(1.5) blur(15px);
  row-gap: 15px;
  width: 100%;
  max-width: 400px;
  padding: 30px;
}

.C-contact__contact > h2 {
  color: var(--blue-0);
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 15px 15px 15px;
  width: 100%;
}

.C-contact__link {
  column-gap: 15px;
  padding: 8px 15px;
  width: 100%;
  color: var(--standard-white);
  text-decoration: none;
  border-radius: 25px;
}

.C-contact__link:nth-of-type(1) img {
  border: 1px solid var(--standard-white);
  border-radius: 3px;
}

.C-contact__contact .C-contact__link:nth-of-type(1) {
  background-color: var(--blue-facebook);
}

.C-contact__contact .C-contact__link:nth-of-type(2) {
  background-image: linear-gradient(35deg, var(--orange-1-instagram), var(--orange-1-instagram), var(--orange-3-instagram), var(--orange-4-instagram));
}

.C-contact__contact .C-contact__link:nth-of-type(3) {
  background-image: linear-gradient(90deg, var(--green-1-whatsapp), var(--green-2-whatsapp));
}

.C-contact__contact > p {
  color: var(--standard-white);
}

.C-contact__localization {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: auto;
}

.C-contact__localization iframe {
  max-width: 100%;
  max-height: 378px;
}

.C-modal {
  position: fixed;
  z-index: 10000000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.6s linear, opacity 0.5s linear;
}

.C-modal__is_active {
  visibility: visible;
  opacity: 1;
}

.C-modal__c_image {
  width: 100%;
  max-width: 75vw;
}

.C-modal__image {
  width: 100%;
}

.C-modal__button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--standard-white);
  padding: 5px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 300ms ease;
}

.C-modal__button:hover {
  background-color: var(--blue-5);
  color: var(--standard-white);
  border: 1px solid var(--blue-2);
}

.C-gallery {
  width: 100%;
  max-width: 2048px;
  background: rgba(105, 102, 102, 0.295);
  backdrop-filter: contrast(1) blur(25px);
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  row-gap: 15px;
  column-gap: 15px;
}

.C-gallery__c_image {
  width: 100%;
  max-width: 320px;
  transition: all 300ms ease;
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: auto;
  overflow: hidden;
}

.C-gallery__c_image {
  position: relative;
}

.C-gallery__image {
  width: 100%;
  cursor: pointer;
  transition: all linear 300ms;
}

.C-gallery__image:hover {
  transform: scale(1.05);
  filter: grayscale(100%);
}

.C-gallery__c_image {
  color: var(--standard-white);
  text-align: center;
}

.C-gallery__c_image h2 {
  font-size: 16px;
  text-transform: capitalize;
  letter-spacing: 1.8px;
  line-height: 1.6;
}

.C-gallery__c_image p {
  font-size: 14px;
  line-height: 1.5;

}

.C-login {
  height: 80%;
}

.C-login__form {
  width: 100%;
  max-width: 350px;
  background-color: rgba(105, 102, 102, 0.295);
  backdrop-filter: contrast(1) blur(15px);
  color: var(--standard-white);
  padding: 20px 10px;
  border-radius: 15px;
  row-gap: 25px;
}

.C-login__title {
  text-transform: uppercase;
}

.C-login__div {
  width: 100%;
  max-width: 260px;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
  justify-content: space-between;
}

.C-login__label {
  text-transform: capitalize;
  font-weight: 300;
}

.C-login__input {
  height: 35px;
  padding: 5px 5px;
}
/* END MAIN */

/* START FOOTER */
.C-footer {
  grid-area: footer;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  padding: 15px 2%;
  background-color: var(--standard-black);
}

.C-footer__title {
  font-size: 18px;
  font-weight: 600;
  color: var(--blue-2);
  line-height: 1.5;
}

.C-footer__adress, .C-footer__copy {
  color: white;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
}

.C-footer__copy {
  padding-top: 15px;
  font-size: 14px;
}

.C-footer__logo {
  width: 100%;
  max-width: 180px;
}

.C-footer__logo img {
  width: 100%;
}
/* END FOOTER */

/* START PAGINATION */

.C-pages a {
  text-decoration: none;
  color: var(--standard-white);
  background-color: var(--blue-facebook);
  padding: 10px;
  transition: all 300ms linear;
}

.C-pages a:hover {
  color: var(--standard-black);
  background-color: var(--blue-0);
}

.C-pages__link_current_page {
  background-color: var(--blue-5) !important;
  border: 1px solid var(--standard-white);
}

.C-pages__link_current_page:hover {
  color: var(--standard-white) !important;
}

.C-pages__page {
  column-gap: 15px;
  margin: 25px 0;
}

.C-pages__span {
  font-size: 18px;
  padding: 10px;
  background-color: var(--std-white-transparent-2);
}

/* END PAGINATION */

/* START ANIMATION */
[data-anime] {
  opacity: 0;
  transition: 1s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime="down"] {
  transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@keyframes to-show-logo {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes to-show-intro-l {
  from {
    margin-left: -100%;
  }

  to {
    margin-left: 0;
  }
}

@keyframes to-show-intro-r {
  from {
    margin-right: -100%;
  }

  to {
    margin-right: 0;
  }
}

@keyframes to-role {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes open_menu {
  from {
    height: 0;
  }

  to {
    height: 100vh;
  }
}
/* END ANIMATION */

/* MEDIA QUERIES */
@media screen and (max-width: 355px) {
  .C-intro__card h2 {
    font-size: 14px;
  }

  .C-intro__card p {
    font-size: 12px;
  }
}

@media screen and (min-width: 367px) {
  .C-gallery__c_image {
    flex-basis: 45%;
  }
}

@media screen and (min-width: 480px) {
  .C-modal__c_image {
    max-width: 55vw;
  }
}

@media screen and (min-width: 600px) {
  .C-gallery__c_image {
    flex-basis: 30%;
  }

  .C-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .C-modal__c_image {
    max-width: 45vw;
  }
}

@media screen and (min-width: 800px) {
  .C-menu {
    align-items: center;
    justify-content: space-between;
    height: auto;
  }

  .C-menu__menu {
    position: static;
  }

  .C-logo {
    position: static;
    transform: translateY(0);
  }

  .C-menu__nav {
    display: block;
    position: static;
    padding-top: 0;
    align-items: center;
    height: auto !important;
    background-color: transparent;
  }

  .C-menu__ul {
    flex-direction: row;
    row-gap: 0;
    justify-content: flex-end;
    align-items: center;
    position: static;
  }

  .C-menu__li {
    width: auto;
    align-self: center;
    text-align: center;
  }
  
  .C-menu__li a {
    border: 1px solid var(--standard-white);
  }
  .C-menu__button {
    display: none;
  }

  .C-title__text {
    font-size: 68px;
  }

  .C-title__link {
    align-self: flex-start;
    font-size: 18px;
  }

  .C-intro__card h2, .C-intro__card p {
    text-align: left;
  }
  
  .C-intro__card:nth-of-type(2) h2, .C-intro__card:nth-of-type(2) p {
    text-align: right;
  }

  .C-profile {
    flex-direction: row;
  }

  .C-profile_image {
    top: -45px;
  }

  .C-gallery__c_image {
    flex-basis: 18%;
  }

  .C-footer {
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .C-pre_gallery_box {
    flex-direction: row;
    justify-content: space-between;
  }

  .C-modal__c_image {
    max-width: 35vw;
  }
}
/* END MEDIA QUERIES */