{% load static %}
{% load i18n %}

<!-- logo and menu -->
<section class="C-menu center_flex_row">
    <!-- logo -->
    <a class="C-logo center_flex_row" href="{% url 'home:home' %}">
        <img src="{% static 'global/images/partial-logo.png' %}" alt="">
    </a>
        
    <!-- menu -->
    <div class="C-menu__menu">
        <button class="C-menu__button center_flex_row">
            <span class="material-symbols-outlined C-menu__span">menu</span>
        </button>
        <nav class="C-menu__nav is_hidden">
            <ul class="C-menu__ul center_flex_column">
                <li class="C-menu__li"><a href="/" class="C-menu__link standard_transition">{% translate 'home' %}</a></li>
                <li class="C-menu__li"><a href="{% url 'home:home' %}#profile" class="C-menu__link standard_transition">{% translate 'about' %}</a></li>
                <li class="C-menu__li"><a href="{% url 'home:home' %}#services" class="C-menu__link standard_transition">{% translate 'services' %}</a></li>
                <li class="C-menu__li"><a href="{% url 'gallery:gallery' %}" class="C-menu__link standard_transition">{% translate 'gallery' %}</a></li>
                <li class="C-menu__li"><a href="{% url 'home:home' %}#contact" class="C-menu__link standard_transition">{% translate 'contact' %}</a></li>
                {% if user.is_authenticated %}
                    <li class="C-menu__li panel"><a href="{% url 'author:dashboard' %}" class="C-menu__link standard_transition">{% translate 'panel' %}</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</section>
