{% extends 'author/pages/dashboard.html' %}

{% block settings %}
    <!-- messsages -->
    {% include 'global/partials/messages.html' %}

    <!-- buttons -->
    {% include 'author/partials/_buttons.html' %}

    <section class="C-services_view center_flex_row">
        {% for service in services %}
            <div class="C-services_view_container center_flex_column">
                <p class="C-services_view_title" href="">{{ service.title }}</p>
                <p class="C-services_view_description"href="">{{ service.description }}</p>

                <!-- buttons for edit and delete services -->
                {% include 'author/partials/_buttons_actions_services.html' %}
            </div>
        {% endfor %}
    </section>
{% endblock %}
