<form 
    action="{{ form_action }}"
    class="C-form"
    method="POST"
    enctype="multipart/form-data">

    {% csrf_token %}

    {% for field in form %}
        <div class="C-form__div">
            <label for="{{ field.id_for_label }}" class="C-form__label">
                {{ field.label }}
            </label>
            {{ field }}

            {% if field.help_text %}
                <p class="help-text">{{ field.help_text }}</p>
            {% endif %}

            {% if field.name == 'cover' or field.name == 'image' and field.value.url %}
                <div class="">
                    <img src="{{ field.value.url }}" alt="">
                </div>
            {% endif %}

            <!-- images for pre-gallery -->
            {% if field.name == 'image_one' and field.value.url %}
                <div class="">
                    <img src="{{ field.value.url }}" alt="">
                </div>
            {% endif %}

            {% if field.name == 'image_two' and field.value.url %}
            <div class="">
                <img src="{{ field.value.url }}" alt="">
            </div>
            {% endif %}

            {% if field.name == 'image_three' and field.value.url %}
            <div class="">
                <img src="{{ field.value.url }}" alt="">
            </div>
            {% endif %}
            <!-- end images for pre-gallery -->
            
            {{ field.errors }}
        </div>
    {% endfor %}
    <button type="submit" class="C-form__button">salvar</button>
    {% block extra_button %}{% endblock %}
</form>

<!-- messages -->
{% include 'global/partials/messages.html' %}
