{% extends 'author/pages/dashboard.html' %}

{% block settings %}
    <!-- messsages -->
    {% include 'global/partials/messages.html' %}

    <!-- buttons -->
    {% include 'author/partials/_buttons.html' %}

    <section class="C-gallery-settings center_flex_row">
        {% for image in gallery %}
            <div class="C-gallery__div center_flex_column">
                <h2 class="C-gallery__title">{{ image.title }}</h2>
                <p class="C-gallery__description">{{ image.description }}</p>
                <a href="{% url 'author:gallery_edit' image.id %}">
                    <img class="C-gallery__image C-image__dashboard not_animated" src="{{ image.cover.url }}" alt="">
                </a>
                <div class="C-services__actions">
                    <a href="{% url 'author:gallery_edit' image.id %}"><span class="material-symbols-outlined C-services_view__span C-services_view__edit">edit</span></a>
                    <span class="C-services_view__span C-services__delete_form">
                        <form
                            action="{% url 'author:image_delete' image.id %}"
                            method="POST"
                            class="C-image_view_delete C-services_view__span">
                            <button type="submit">
                                {% csrf_token %}
                                <span class="material-symbols-outlined C-services_view__span">delete</span>
                            </button>
                        </form>
                    </span>
                </div>
            </div>
        {% endfor %}
    </section>

    <!-- pagination -->
    {% include 'global/partials/pagination.html' %} 
{% endblock %}