{% extends 'author/pages/dashboard.html' %}

{% block settings %}
    <!-- messsages -->
    {% include 'global/partials/messages.html' %}

    <!-- buttons -->
    {% include 'author/partials/_buttons.html' %}

    <section class="C-gallery-settings center_flex_row">
        {% for image in gallery %}
            <div class="C-gallery__div center_flex_column">
                <h2 class="C-gallery__title">{{ image.title }}</h2>
                <p class="C-gallery__description">{{ image.description }}</p>
                <a href="{% url 'author:gallery_edit' image.id %}">
                    <img class="C-gallery__image C-image__dashboard not_animated" src="{{ image.cover.url }}" alt="">
                </a>
                
                <!-- buttons for edit and delete images -->
                {% include 'author/partials/_buttons_actions_gallery.html' %}
            </div>
        {% endfor %}
    </section>

    <!-- pagination -->
    {% include 'global/partials/pagination.html' %} 
{% endblock %}