{% extends 'global/pages/base.html' %}

{% block head_title %}
    Dashboard |
{% endblock %}

{% block content %}
    <!-- dashboard -->
    <section class="C-dashboard">
        <!-- menu -->
        <nav class="C-dashboard__nav">
            <ul class="C-dashboard__ul">
                <li class="C-dashboard__li">

                    <!-- configurações do site -->
                    <p class="C-dashboard__link">Configurações do site</p>
                    <nav class="C-settings">
                        <ul class="C-settings__ul">
                            <li class="C-settings__li">
                                <a href="{% url 'author:socialnetwork' %}" class="C-settings__link">
                                    redes sociais
                                </a>
                            </li>
                            <li class="C-settings__li">
                                <a href="{% url 'author:sectionintro' %}" class="C-settings__link">
                                    intro
                                </a>
                            </li>
                            <li class="C-settings__li">
                                <a href="{% url 'author:profile' %}" class="C-settings__link">
                                    perfil profissional
                                </a>
                            </li>
                            <li class="C-settings__li">
                                <a href="{% url 'author:initialgallery' %}" class="C-settings__link">
                                    galeria inicial
                                </a>
                            </li>
                            <li class="C-settings__li">
                                <a href="{% url 'author:services' %}" class="C-settings__link">
                                    serviços
                                </a>
                            </li>
                            <li class="C-settings__li">
                                <a href="" class="C-settings__link">
                                    endereço
                                </a>
                            </li>
                        </ul>
                    </nav>
                </li>
                <li class="C-dashboard__li">
                    <a href="{% url 'author:gallery' %}" class="C-dashboard__link">
                        Galeria de imagens
                    </a>
                </li>
            </ul>
        </nav>

        <!-- settings and CRUD -->
        <section class="C-dashboard__settings">
            {% block settings %}
            {% endblock %}
        </section>
    </section>
{% endblock %}
