{% extends 'global/pages/base.html' %}

{% load i18n %}

{% block head_title %}
    Login |
{% endblock %}

{% block content %}
    <section class="C-login center_flex_row">
        <form action="" class="C-login__form center_flex_column">
            <h1 class="C-login__title">login</h1>
            <div class="C-login__div center_flex_row">
                <label for="username" class="C-login__label">{% translate 'username' %}</label>
                <input type="text" name="username" id="username" class="C-login__input">
            </div>
            <div class="C-login__div center_flex_row">
                <label for="password" class="C-login__label">{% translate 'password' %}</label>
                <input type="password" name="password" id="password" class="C-login__input">
            </div>
            <button type="submit" class="C-login__button">{% translate 'login' %}</button>
        </form>
    </section>
{% endblock %}
